/05/
/0b/
/10/
/1a/
/23/
/31/
/32/
/33/
/35/
/3d/
/3e/
/3f/
/4c/
/4d/
/4e/
/54/
/5e/
/69/
/70/
/71/
/76/
/77/
/78/
/7a/
/82/
/87/
/8b/
/91/
/92/
/93/
/95/
/96/
/98/
/99/
/9a/
/9b/
/9f/
/a3/
/a6/
/a8/
/a9/
/b0/
/b9/
/bf/
/c2/
/cf/
/d2/
/d6/
/dc/
/de/
/df/
/e3/
/e8/
/eb/
/ed/
/f5/
/f8/
/f9/
/fc/
/*/